* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #111;
    font-family: helvetica;
    font-size: 15px;

}

body > div 
    {
    margin-bottom: 120px; 
}
.wrapper > div {
    margin-bottom: 50px;
}






/******************************/
/*-------PROGRESS-BAR--------*/
/******************************/

.steps {
    counter-reset: step;
    margin-top: 21px;
    padding-bottom: 30px;
}

.steps li {
    list-style: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
}

.steps li::before {
    content: counter(step);
    counter-increment: step;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 5px auto;
    border-radius: 50%;
    background-color: white;
}

.steps li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    top: 25px;
    left: -50%;
    z-index: -1;
}

.steps li:first-child::after {
    content: none;
}

.steps li.active::before {
    background-color: rgb(83, 62, 143);
    z-index: 1;
    color: black;

}
.steps li.active {
    color: rgb(83, 62, 143);
}




/******************************/
/*-------SIGN-IN-------*/
/******************************/


.sign-in > * {
    display: block;
    width: 90%;
    height: 25px;
    border: 1px solid #ddd;
    position: relative;
    margin: 0 auto 9px auto;
    padding: 4px 0px 4px 7px; 

}

.sign-in button {
    cursor: pointer;
    background-color: black;
    color: white;
    height: 50px;
    
}


/*---------OR----------*/


.or {
    display: block;
    width: 100%;    
}
.or p{
    margin: 0 auto;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    background-color: white;
}




/******************************/
/*-------SIGN-UP--------*/
/******************************/

.sign-up > * {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 25px;
    margin: 0 auto 9px auto;
    

}
.sign-up input{
    border: 1px solid #ddd;
    padding: 4px 0px 4px 7px; 
    
}
.name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name > * {
   width: 49.5%;
}

.sign-up button {
    cursor: pointer;
    background-color: rgb(246,201,67);
    color: black;
    height: 50px;

}




/******************************/
/*-------MEDIA-QUERRY--------*/
/******************************/

@media  screen and (min-width: 768px) and (max-width:3840px) {
    body > div 
    {
    margin-bottom: 150px; 
    }

   .wrapper{
       display: flex;
       flex-direction: row;
       justify-content: space-around;
   }
   .sign-in,
   .sign-up {
       width: 49.9%;
   }

   .or {
        position: fixed;
        top: 20%;
        width: 6%;
   }
   .wrapper::after {
    content: '';
    position: absolute;
    height: 40%;
    width: 1px;
    background-color: #ddd;
    top: 23%;
    left: 50%;
    z-index: -1;
   }
}